.header
{
    display: inline;
    margin-left: 492px;
}

.about_me_icon
{
    margin-right: 7px;
}

.hobby_icon
{
    margin-left: 37px;
}

.video_icon
{
    margin-left: 43px;
}

.menu
{
    font: 19px/32px "Georgia";
    color: #333333;
    display: inline;
}

.imagefilm
{
    width: 283px;
    height: 189px;
    border-radius: 5px;
    background-color: #464646;
}

.h4
{
    font: 700 22px/32px "Open Sans";
    color: #333333;
    margin: 22px 0 0 0;
}

.description
{
    font: 16px/28px "Georgia";
    color: #555555;
    width: 283px;
}

.love_and_pigeons
{
    position: absolute;
    top: 101px;
    left: 305px;
}

.christmas_story
{
    position: absolute;
    top: 101px;
    left: 611px;
}

.rise_of_the_guardians
{
    position: absolute;
    top: 101px;
    left: 915px;
}

.films_description
{
    position: absolute;
    top: 1204px;
    left: 360px;
}

.authors_container
{
    position: absolute;
    top: 630px;
    left: 480px;
}

.main_container
{
    position: absolute;
    top: 465px;
    left: 870px;
}

.background
{
    width: 100%;
    height: 402px;
    margin: 10px 0;
}

.h1
{
    font: 700 48px/42px "Open Sans";
    color: #333333;

}

.image
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
    position: absolute;
    top: 260px;
    left: 480px;
}

.rectangle
{
    width: 60px;
    height: 7px;
    border-radius: 3px;
    background-color: #45c3aa;
    position: absolute;
    top: 102px;
}

.about_me
{
    width: 508px;
    color: #555555;
    font: 19px/32px "Georgia";
    margin-top: 79px;
}

.h2
{
    width: 285px;
    color: #333333;
    font: 400 36px/42px "Open Sans";

}

.h2_films
{
    margin-top: 26px;
}

.h2_hobby
{
    margin-top: 26px;
}

.hobby
{
    width: 555px;
    font: 19px/32px "Georgia";
    color: #555555;
    margin-top: -16px;
}

.link
{
    width: 139px;
    font: 19px/32px "Georgia";
    color: #15a98b;
    position: absolute;
    top: 647px;
}

.quote
{
    color: #ffffff;
    font: italic 28px/42px "Georgia";
    position: absolute;
    top: 258px;
    left: 872px;
    width: 510px;
}

.quote_author
{
    width: 204px;
    color: #f5f5f5;
    font: 600 16px/42px "Open Sans";
    left: 878px;
    top: 356px;
    position: absolute;
}

.h3
{
    color: #15a98c;
    font: 600 24px/32px "Open Sans";
}

.films_container
{
    position: absolute;
    top: 861px;
    left: 480px;
}

.films_list
{
    margin: -12px -21px;
}

.authors_list
{
    margin: -11px -16px;
}

.list
{
    width: 330px;
    font: 19px/36px "Georgia";
    color: #555555;
}

.one_plus_one
{
    position: absolute;
    top: 99px;
}

.all_films
{
    width: 114px;
    border-radius: 5px;
    background-color: #15a98c;
    font: 19px/32px "Georgia";
    color: #f5f5f5;
    position: absolute;
    top: 900px;
    left: 480px;
    padding: 9px 53px;
}

.footer
{
    left: 594px;
    font: 16px/32px "Georgia";
    color: #555555;
    position: absolute;
    bottom: px;
    top: 2271px;
}