@font-face
{
    font-family: Georgia; 
    src: url(fonts/Georgia Regular.ttf);
    font-style: normal;
}

@font-face
{
    font-family: Georgia; 
    src: url(fonts/Georgia Italic.ttf);
    font-style: italic;
}

.header
{
<<<<<<< HEAD
    margin-bottom: 10px;
    position: relative;
    top: -17px;
    left: 493px;
}

.about_me_button:before
{
    content: "";
    background: url(../images/about_me_icon.png);
    display: inline-block;
    height: 15px;
    width: 13px;
    margin-right: 10px;
}

.hobby_button
{
    margin-left: 28px
}

.hobby_button:before
{
    content: "";
    background: url(../images/hobby_icon.png);
    display: inline-block;
    height: 15px;
    width: 16px;
    margin: -2px 10px;
}

.video_button:before
{
    content: "";
    background: url(../images/video_icon.png);
    display: inline-block;
    height: 15px;
    width: 17px;
    margin-left: 36px;
    margin-right: 10px;
=======
    display: inline;
    margin-left: 492px;
}

.about_me_icon
{
    margin-right: 7px;
}

.hobby_icon
{
    margin-left: 37px;
}

.video_icon
{
    margin-left: 43px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.menu
{
    font: 19px/32px "Georgia";
    color: #333333;
<<<<<<< HEAD
    display: inline-block;
}

.image_film
{
    width: 285px;
=======
    display: inline;
}

.imagefilm
{
    width: 283px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
    height: 189px;
    border-radius: 5px;
    background-color: #464646;
}

.h4
{
    font: 700 22px/32px "Open Sans";
    color: #333333;
<<<<<<< HEAD
    position: relative;
    top: -9px;
    left: -1px;
=======
    margin: 22px 0 0 0;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.description
{
    font: 16px/28px "Georgia";
    color: #555555;
    width: 283px;
<<<<<<< HEAD
    position: relative;
    top: -22px;
=======
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.love_and_pigeons
{
<<<<<<< HEAD
    left: 305px;
    position: relative;
    top: -632px;
=======
    position: absolute;
    top: 101px;
    left: 305px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.christmas_story
{
<<<<<<< HEAD
    position: relative;
    top: -1212px;
    left: 610px;
=======
    position: absolute;
    top: 101px;
    left: 611px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.rise_of_the_guardians
{
<<<<<<< HEAD
    position: relative;
    top: -1847px;
=======
    position: absolute;
    top: 101px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
    left: 915px;
}

.films_description
{
<<<<<<< HEAD
    position: relative;
    top: -805px;
    left: 352px;
    margin-bottom: 10px;
=======
    position: absolute;
    top: 1204px;
    left: 360px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.authors_container
{
    position: relative;
    top: -413px;
    left: 471px;
    margin-bottom: 10px;
    width: 330px;
}

.main_container
{
<<<<<<< HEAD
    position: relative;
    top: -983px;
    left: 861px;
}

.background
{
    height: 400px;
    width: 1920px;
    position: relative;
    top: -38px;
    left: -8px;
=======
    position: absolute;
    top: 465px;
    left: 870px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.background
{
    width: 100%;
    height: 402px;
    margin: 10px 0;
}

.h1
{
    font: 700 48px/42px "Open Sans";
    color: #333333;

}

.image
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
    position: relative;
    top: -430px;
    left: 472px;
}

.rectangle
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
<<<<<<< HEAD
    position: relative;
    top: -8px;
=======
    position: absolute;
    top: 102px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.about_me
{
    width: 508px;
    color: #555555;
    font: 19px/32px "Georgia";
    margin-top: 31px;
}

.h2
{
<<<<<<< HEAD
    color: #333333;
    font: 400 36px/42px "Open Sans";

}

.h2_films
{
    
    margin-top: 26px;
}

.h2_hobby
{
    width: 285px;
    margin-top: 42px;
=======
    width: 285px;
    color: #333333;
    font: 400 36px/42px "Open Sans";

}

.h2_films
{
    margin-top: 26px;
}

.h2_hobby
{
    margin-top: 26px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.hobby
{
    width: 555px;
    font: 19px/32px "Georgia";
    color: #555555;
    margin-top: -15px;
}

.link
{
    width: 139px;
    font: 19px/32px "Georgia";
    color: #15a98b;
    position: relative;
    top: 118px;
    text-decoration: none;
    border-bottom: 1px solid #000;
    border-bottom-color: #15a98b;
}

.link:after
{
    content: "\2192";
    display: inline-block;
    position: absolute;
    right: -24px;
}

a:hover
{
    border:0;
}

.quote
{
    color: #ffffff;
    font: italic 28px/42px "Georgia";
<<<<<<< HEAD
    position: relative;
    top: -236px;
    left: 864px;
=======
    position: absolute;
    top: 258px;
    left: 872px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
    width: 510px;
}

.quote_author
{
    width: 204px;
    color: #f5f5f5;
    font: 600 16px/42px "Open Sans";
<<<<<<< HEAD
    left: 885px;
    top: -262px;
    position: relative;
=======
    left: 878px;
    top: 356px;
    position: absolute;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.h3
{
    color: #15a98c;
    font: 600 24px/32px "Open Sans";
}

.films_container
{
    position: relative;
    top: -384px;
    left: 473px;
    margin-bottom: 10px;
    width: 330px;
}

.films_list
{
    margin: -12px -21px;
}

.authors_list
{
    margin: -11px -16px;
}

.list
{
    width: 330px;
    font: 19px/36px "Georgia";
    color: #555555;
}

.one_plus_one
{
<<<<<<< HEAD
    position: relative;
    top: 3px;
}

.all_films_button
{
    width: 222px;
    height: 53px;
=======
    position: absolute;
    top: 99px;
}

.all_films
{
    width: 114px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
    border-radius: 5px;
    background-color: #15a98c;
    font: 19px/32px "Georgia";
    color: #f5f5f5;
<<<<<<< HEAD
    position: relative;
    top: -1497px;
    left: 478px;
=======
    position: absolute;
    top: 900px;
    left: 480px;
    padding: 9px 53px;
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
}

.footer
{
    left: 594px;
    font: 16px/32px "Georgia";
    color: #555555;
    position: absolute;
    bottom: px;
    top: 2271px;
<<<<<<< HEAD
    margin-top: -1px;
}

.footer_background
{
    position: relative;
    top: -2237px;
    left: -10px;
    width: 1920px;
}

q
{
    quotes: "\00ab" "\00bb";
}
=======
}
>>>>>>> a60f3f5fa0321afd64ea31f50af2b5058a32ec22
